
main {
	position: relative;
	height: 80vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

.container_head {
	font-family: syne, sans-serif;
	font-weight: 700;
	font-size: 35px;
	margin-bottom: 2rem;
	color: #1D6154;
}

.container_input_email, .container_input_password {
	padding: 15px;
	width: 350px;
	border: 1px solid rgba(0, 0, 0, 0.09);
	outline: none;
	box-shadow:rgba(0, 0, 0, 0.09);
	margin-bottom: 1rem;
}

.container_button {
	margin-top: 1rem;
	padding: 15px;
	width: 170px;
	border: 1px solid rgba(0, 0, 0, 0.09);
	border-radius: 60px;
	background-color: #1D6154;
	color: white;
	outline: none;
	box-shadow:rgba(0, 0, 0, 0.09);
}

main a {
	margin-top: 5px;
	color: black;
}

.container label {
	margin-right: auto;
}

ul a {
	text-decoration: none;
	color: black;
}